@import "compass/css3/box",
        "compass/css3/text-shadow",
        "compass/css3/transition",
        "normalize";

@font-face {
    font-family: "Bebas Neue";
    src: url("BebasNeue-webfont.eot");
    src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),
         url("BebasNeue-webfont.woff") format("woff"),
         url("BebasNeue-webfont.ttf") format("truetype"),
         url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }

body {
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(center);
  background: #a12;
  color: #ffe;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

h1 {
  @include transition-property(all);
  text-transform: uppercase;

  -webkit-animation: status_screen_pulse 1.1079s ease-in infinite;
     -moz-animation: status_screen_pulse 1.1079s ease-in infinite;
       -o-animation: status_screen_pulse 1.1079s ease-in infinite;
          animation: status_screen_pulse 1.1079s ease-in infinite;
}

@-webkit-keyframes status_screen_pulse {
  0%   {
    opacity: 1.0;
    @include text-shadow(0 0 15px #fdc, 0 0 25px #fdc, 0 0 100px #fdc);
  }
  50%  {
    @include text-shadow(0 0 3px #fdc, 0 0 6px #fdc, 0 0 25px #fdc);
  }
  100% {
    opacity: 0.2;
    @include text-shadow(0 0 0 #fdc, 0 0 0 #fdc, 0 0 0 #fdc);
  }
}
@-moz-keyframes status_screen_pulse {
  0%   {
    opacity: 1.0;
    @include text-shadow(0 0 15px #fdc, 0 0 25px #fdc, 0 0 100px #fdc);
  }
  50%  {
    @include text-shadow(0 0 3px #fdc, 0 0 6px #fdc, 0 0 25px #fdc);
  }
  100% {
    opacity: 0.2;
    @include text-shadow(0 0 0 #fdc, 0 0 0 #fdc, 0 0 0 #fdc);
  }
}
@-o-keyframes status_screen_pulse {
  0%   {
    opacity: 1.0;
    @include text-shadow(0 0 15px #fdc, 0 0 25px #fdc, 0 0 100px #fdc);
  }
  50%  {
    @include text-shadow(0 0 3px #fdc, 0 0 6px #fdc, 0 0 25px #fdc);
  }
  100% {
    opacity: 0.2;
    @include text-shadow(0 0 0 #fdc, 0 0 0 #fdc, 0 0 0 #fdc);
  }
}
@keyframes status_screen_pulse {
  0%   {
    opacity: 1.0;
    @include text-shadow(0 0 15px #fdc, 0 0 25px #fdc, 0 0 100px #fdc);
  }
  50%  {
    @include text-shadow(0 0 3px #fdc, 0 0 6px #fdc, 0 0 25px #fdc);
  }
  100% {
    opacity: 0.2;
    @include text-shadow(0 0 0 #fdc, 0 0 0 #fdc, 0 0 0 #fdc);
  }

}
